img{
    width: 400px;
    
}

p {
    
    display: flex;
    justify-content:center;
    color: aliceblue;
    
}



body{
    background-image: url(https://media.istockphoto.com/id/1181216754/photo/realistic-dry-ice-smoke-clouds-fog.jpg?s=612x612&w=0&k=20&c=_o4JkCuYoigaL4xJcQTYh7d5Ow6-tDGevyujO1NyaGY=);
    background-size: cover;
}

.images{
    display: flex;
    
    align-items: center;
    flex-direction: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}